@model IEnumerable<OCT_7.Models.MemberModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Member_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acc_Open_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Max_Books_Allowed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Penalty_Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Member_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acc_Open_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Max_Books_Allowed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Penalty_Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=Convert.ToInt32(item.Member_Id) }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
